* {
    box-sizing: border-box;
  }
  .player-container {
    display: table;
    background-color: #222;
    border: 1px solid black;
    #playing {
      display: none;
    }
    .gif {
      visibility: hidden;
    }
    #playing:checked {
      ~ .gif {
        visibility: visible;
      }
      ~.btn-play {
        display: none;
      }
      ~.btn-stop {
        display: block;
      }
    }
  }
  .btn {
    display: block;
    width: 100%;
    padding: 1rem 1.6rem;
    border-top: 1px solid white;
    font-family: Arial, sans-serif;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #444;
    }
    &.btn-stop {
      display: none;
      .icon-stop {
        font-size: 135%;
        line-height: 1px;
      }
    }
  }